myproject/myapp/__pycache__/__init__.cpython-311.pyc
myproject/myapp/__pycache__/admin.cpython-311.pyc
myproject/myapp/__pycache__/apis.cpython-311.pyc
myproject/myapp/__pycache__/apps.cpython-311.pyc
myproject/myapp/__pycache__/models.cpython-311.pyc
myproject/myapp/__pycache__/serializers.cpython-311.pyc
myproject/myapp/__pycache__/tests.cpython-311.pyc
myproject/myapp/__pycache__/urls.cpython-311.pyc
myproject/myapp/__pycache__/views.cpython-311.pyc
myproject/myapp/migrations/__pycache__/__init__.cpython-311.pyc
myproject/myapp/migrations/__pycache__/0001_initial.cpython-311.pyc
myproject/myapp/migrations/__pycache__/0002_company_category_and_more.cpython-311.pyc
myproject/myapp/models/__pycache__/category.cpython-311.pyc
myproject/myapp/models/__pycache__/company.cpython-311.pyc
myproject/myapp/models/__pycache__/models.cpython-311.pyc
myproject/myapp/models/__pycache__/testmodels.cpython-311.pyc
myproject/myapp/serializers/__pycache__/category.cpython-311.pyc
myproject/myapp/serializers/__pycache__/serializers.cpython-311.pyc
myproject/myapp/views/__pycache__/category.cpython-311.pyc
myproject/myproject/__pycache__/__init__.cpython-311.pyc
myproject/myproject/__pycache__/settings.cpython-311.pyc
myproject/myproject/__pycache__/urls.cpython-311.pyc
myproject/myproject/__pycache__/wsgi.cpython-311.pyc
myproject/db.sqlite3
