[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.6"
djangorestframework = "3.14.0"
psycopg2 = "2.9.9"
psycopg2-binary = "2.9.9"
inject = "5.1.0"
cerberus = "1.3.5"

[dev-packages]

[requires]
python_version = "3.11"
